.Button {
    width: 21.375rem;
    height: 3.75rem;
    border-radius: 1rem;
    font-size: 1.125rem;
    font-weight: 600;
    font-family: "Pretendard Variable", Pretendard;
    background-color: #00a881;
    color: white;
    border: none;
}